@keyframes dangerBlink {
    0% { color: red; }
    50% { color: orange; }
    100% { color: red; }
}

.warningText {
    color: red;
    animation: dangerBlink 1s infinite;
}

.dangerText {
    color: red;
    animation: dangerBlink 0.5s infinite;
}
